.fighter-preview___root {
  font-family: sans-serif;
  display: flex;
  width: 300px;
  height: 300px;
  background-size: 50%;
  flex-direction: column;
  flex-basis: 250px;
}
.fighter-preview___root h1{
  justify-self: center;
  margin-top: 50px;
  padding: 10px;
  color: #FFFFFF;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #f00, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  text-transform: uppercase;
}
.fighter-preview___root p{
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  text-shadow: 2px 2px 0 #e90101, 2px -2px 0 #e90101, -2px 2px 0 #e90101, -2px -2px 0 #e90101, 2px 0px 0 #e90101, 0px 2px 0 #e90101, -2px 0px 0 #e90101, 0px -2px 0 #e90101;
}
.fighter-preview___right {
  align-items: flex-end;
  transform: scale(-1, 1);
}
.fighter-preview___right p {
  transform: scale(-1, 1);
}
.fighter-preview___right h1{
  transform: scale(-1, 1);
}
.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___left p{
  align-self: flex-end;
}

