#wrapper {
    margin-top: 2rem;
    overflow-y: scroll;
    height: fit-content;
    margin-bottom: 2rem;
}

#fight-wrapper {
    width: 70%;
    display: flex;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
}

.btn-wrapper {
    margin: 0 1rem;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
    justify-content: center;
}
h1{
    text-align: center;
}